footer {
    width: 100%;
    min-height: 50px;
    /* border-top: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7.5px;
    background: var(--tono-4);
}

footer .social-footer {
    display: flex;
    gap: 7.5px;
}

.autor a {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.autor a i {
    font-size: 1.6rem;
}

footer .autor a {
    text-decoration: none;
}


footer .autor p {
    margin: 0;
    font-size: .8rem;
    color: black;
  font-family: 'Questrial', sans-serif;
}